body{
    font-family: 'poppins',sans-serif;
    font-size: 16px;
}
.navbar .navbar-brand{
    padding: 10px;
}


.bg-light{
    background: #ffffff !important;
    transition: all 0.5s ease!important;
}


nav.navbar-light a:hover{
    color:#7c50eb!important ;
    
}

.navbar{
    padding: 10px ;
}


.banner{

    margin-top: 10%;
}

.banner h3{
    font-weight: 500;
    color: #7c50eb;
   
}
.banner h4{
    font-weight: 500;
    color: #7c50eb;
    font-size: 2rem;
    
}

.banner h1{
    font-size: 6rem;
    font-weight: 600;
   
    
}

.margin-50{

    margin-top: 50px;
}

.about-area h2{

   
    font-size: 3.125rem;
    margin-bottom: 15px;
    font-weight: 500;

}
.services-area h1{
    font-size: 3.5rem;
    margin-bottom: 15px;
    font-weight: 500;
}


.btn-primary {
    background: #7c50eb !important;
    color: whitesmoke;
    transition:  .6s ease;
    box-shadow: var(--box-shadow);
    border-color:  #7c50eb;
    font-family: 'poppins',sans-serif;
}

.btn-primary:hover {
    background: #ffffff !important;
    color: #212529;
    transition:  .6s ease;
    box-shadow: var(--box-shadow);
    border-color:  #7c50eb;
    font-family: 'poppins',sans-serif;
}

.btn-outline-primary {
    color: #212529;
    border-color: #7c50eb;

    transition:  .6s ease;
    font-family: 'poppins',sans-serif;
}
.btn-outline-primary:hover {
    color:  whitesmoke;
    border-color: #7c50eb;
    background: #7c50eb !important;
    transition:  .6s ease;
    font-family: 'poppins',sans-serif;
}
.btn-link {
    color:#212529 ;
    transition:  .6s ease;
}

.btn-link:hover {
    color:#7c50eb;
    transition:  .6s ease;
}

.tab-content
{
   
    display: none;
    transition:  .6s ease;
}

.tab-content-active
{
    display: flex;
   
}

.margin-200{
    margin-top: 150px;
}




 
  .s{

    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
  



  footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: #7c50eb;
}

footer.footer-area .social a:hover > i{
    color: #212529;
}

footer a{
    padding: 10px;
}









.navscroll1 {
   
    color: #7c50eb!important;
    transition:background-color 500ms, color 500ms;
}

.navscroll1.azul {
    
    color:#212529!important;
}
.navscroll2 {
   
    color: #7c50eb!important;
    transition:background-color 500ms, color 500ms;
}

.navscroll2.azul {
    color: #212529!important;
}
.navscroll3 {
   
    color: #7c50eb!important;
    transition:background-color 500ms, color 500ms;
}

.navscroll3.azul {
    color: #212529!important;
}
.navscroll4 {
   
    color: #7c50eb!important;
    transition:background-color 500ms, color 500ms;
}

.navscroll4.azul {
    color: #212529!important;
}
.navscroll5 {
   
    color: #7c50eb!important;
    transition:background-color 500ms, color 500ms;
}

.navscroll5.azul {
    color: #212529!important;
}

    


@media screen and (max-width: 970px){


    .banner{

        margin-top: 20%;
    }
}

@media screen and (max-width: 500px){


    .banner{

        margin-top: 20%;
        text-align: center;
    }
    .btn-primary {
       text-align: center;
    }
    .btn-outline-primary {
      text-align: center;
    }
    .conte_buttons{
        justify-content: center;
    }
    .services-area h1{
        font-size: 2.3rem;
        margin-bottom: 15px;
        font-weight: 500;
        
    }
    
   
    


}









