@font-face{font-family:mono-medium;src: url(../fonts/JetBrainsMono-Medium.ttf);}
@font-face{font-family:mono-bold;src: url(../fonts/JetBrainsMono-ExtraBold.ttf);}
@font-face{font-family:mono-extraBold;src: url(../fonts/JetBrainsMonoNL-ExtraBold.ttf);}